<table style="width:100%; margin-bottom:40px">
    <tr>
        <td style="text-align:center; margin-left:auto; margin-right:auto; padding-top: 40px">
            <img style="width:300px;height:300px" src="https://i.hizliresim.com/2c63286.png">
        </td>
    </tr>
    <tr>
        <p style="text-align:center; font-size:30px; padding-top:20px; color: rgb(221, 76, 79);">
            Happy New Year {{ data[0].get('name', {}) }}
        </p>
    </tr>
    <tr>
        <p style="text-align:center; font-size:16px; font-weight:500; opacity: .8; padding-top:10px">
            May your joy, health, happiness and peace be in 2022. We wish you a happy new year.
        </p>
    </tr>
    <tr>
        <p style="text-align:center">
            The person you are going to give a gift is
        </p>
    </tr>
    <tr>
        <td style="text-align:center; margin-left:auto; margin-right:auto; padding-top: 10px">
            <div style="background: rgb(221, 76, 79); padding: 10px 20px;border-radius: 4px;width: 300px;margin-left: auto;margin-right: auto;">
                <p style="text-align:center; color:white; font-size:18px; font-weight:600; padding-top:10px">
                    {{ data[1].get('name', {}) }}
                </p>
            </div>
        </td>
    </tr>
    {% if data[1].get('address', None) %}
        <tr>
            <td style="text-align:center; margin-left:auto; margin-right:auto; padding-top: 20px">
                <div style="background: #EFEFEF; padding: 10px 20px;border-radius: 4px;width: 70%;margin-left: auto;margin-right: auto;">
                    <p style="text-align:center; color:#3A4149; font-size:18px; font-weight:300; padding-top:10px">
                        <span style="font-weight:400">Address Information : </span> {{ data[1].get('address', "") }}
                    </p>
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td style="width:70%">
            <div style="padding: 10px 20px;border-radius: 4px;width: 70%;margin-left: auto;margin-right: auto;">
                <p style="text-align:center; font-size:14px">
                    You can visit our website from <a style="font-weight:400;" href="https://yilbasicekilisi.online/">here</a>, can reach the source codes via <a style="font-weight:400;" href="https://github.com/selamet/online-yilbasi-cekilisi">this link</a>. If you want to send a gift to us as well, you can do it via <a style="font-weight:400;" href="https://kreosus.com/yilbasicekilisi">this link</a>.
                </p>
            </div>
        </td>
    </tr>
</table>